{% extends 'bootstrap/base.html'%}
{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title>1 Min Of You</title>
        {% endif %}
    </head>
    <header>
       <!--Navbar-->  
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}  
    </header>
    <body>
        {% block content %}
        <div class="container-fluid">
            <h2 class="text-center"><u>From Me to You</u></h2>
            <div class="row">
                <div class = "col-md-6">
                {% for blog in blogs %}
                    <div class="card">
                        <div class="card-body">
                            <h3 class = "card-title">Category : {{ blog.category }}</h3>
                            <p class = "card-text">Block: {{ blog.context }}</h4>
                            <p class = "card-text">Posted by : {{users.username}}</p>
                            <!-- <a class =" btn btn-info" href="{{url_for('main.like',id = blog.id)}}">Upvotes:{{pitch.upvote.count()}}</a>
                            <a class =" btn btn-danger" href="{{url_for('main.dislike',id = blog.id)}}">Downvotes:{{pitch.downvote.count()}}</a> -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    </body>