{% extends 'bootstrap/base.html'%}
{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title>1 Min Of You</title>
        {% endif %}
    </head>
    <header>
       <!--Navbar-->  
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}  
    </header>
    <body>
        {% block content %}
        <div class="container-fluid">
            <h2 class="text-center"><u>Blogs from Me to You</u></h2>
            <div class="row">
                <div class = "col-md-12">
                {% for blog in blogs %}
                    <div class="card">
                        <div class="card-body">
                            <h3 class = "card-title">Category : {{ blog.category }}</h3>
                            <p class = "card-text"> {{ blog.context }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
       
        </body>
    
    {%endblock%}
    </body>