<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
        <button class="btn btn-warning"><a class="nav-link active" aria-current="true" href="/">Home</a></button>
        {% if current_user.is_authenticated %}
        <li><button class="btn btn-warning"><a href="{{url_for('main.profile',name=current_user.name)}}">Profile</a></button></li>
        <li><button class="btn btn-warning"><a href="{{url_for('auth.logout')}}">Sign Out</a></button></li>
        <li><button class="btn btn-warning"><a href="">New Blog</a></button></li>
        {% else %}
        <li><button class="btn btn-warning"><a href="{{url_for('auth.login')}}">Sign In</a></button></li>
        {%endif%}
    </ul>
    {% if current_user.is_authenticated %}
    <h1>Welcome {{user.username}} </h1>
    {% else %}
    <h1></h1>
    {% endif %}
      <img class="card-header" src ="static/images/Screenshot from 2021-11-12 14-26-35.png" alt ="coffee and code" height ="200" width="400">
    <div class="container-fluid">
        <form class="d-flex">
            {% if current_user.is_authenticated %}
            <input class="form-control me-2" type="search" placeholder="Enter your email to subscribe to our newsletter" aria-label="Search"><br>
            <button class="btn btn-warning" type="submit">Subscribe</button>
            {% else %}
            <p class="text-center">WELCOME TO COFFEE AND CODE BLOGPOST :)</p>
            {% endif %}
        </form>
    </div>
</div>
<hr>