<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
        <button class="btn btn-warning"><a class="nav-link active" aria-current="true" href="/">Home</a></button>
        <li><button class="btn btn-warning"><a href="">Profile</a></button></li>
        <li><button class="btn btn-warning"><a href="">Sign Out</a></button></li>
        <li><button class="btn btn-warning"><a href="">New Blog</a></button></li>
        <li><a href="">Sign In</a></li>
    </ul>
      <img class="card-header" src ="static/images/Screenshot from 2021-11-12 14-26-35.png" alt ="coffee and code" height ="150" width="180">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Enter your email to subscribe to our newsletter" aria-label="Search"><br>
            <button class="btn btn-warning" type="submit">Subscribe</button>
        </form>
    </div>
</div>
<hr>